$green: #006400;
$gray: #333;
$pic-size: 45px;


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $gray;
}
#leaderboard-title {
  background-color: $green;
  color:white;
  font-size: 200%;
}

.profile-pic {
  border-color: $green;
}
.img-responsive {
  width: $pic-size;
}

nav {
  background-color: $green;
  margin-bottom: 30px;
  border-radius: 0px !important;

  img {
    max-width: 50%;
    height: auto;
  }
}

footer {
  color: white;
  a, a:hover, a:visited, a:active{
    color: white;
  }
}

tr {
  font-size: 110%;
  td {
    vertical-align: middle !important;
  }
}
a, a:hover, a:visited, a:active {
  color: $green;
  text-decoration: none;
  cursor: pointer;
}
.square-pic {
  	width: $pic-size;
    height: $pic-size;
    background: #e3e3e3;
    border-radius: 5px;
    display: inline-block;
}
.temp-user {

}
